    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #eef2f3;
        color: #222;
    }
    header {
        background: linear-gradient(to right, #0066cc, #00cc99);
        color: white;
        padding: 20px;
        text-align: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .heads{
        display: flex;
        flex-wrap: wrap;
    }
    .heads_name{
        position: relative;
        margin-left: 5%;
        font-size: 25px;
    }
    .tails{
        position: relative;
        margin-left: 55%;
        margin-top: 25px;
    }
    nav a {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-weight: bold;
        transition: transform 0.2s;
        display: inline-block;
    }
    nav a:hover {
        transform: scale(1.2);
    }
    .main {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 230px;
        text-align: center;
        padding: 20px;
        background-color: white;
        margin: 30px 100px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.579);
    }
    .main-container1{
        padding-top: 30px;
        position: relative;
        left: 20%;
    }
    .main-container2 {
        position: relative;
        text-align: center;
        right: 10%;
        padding: 20px;
    }
    .welcome {
        margin-top: 30px;
        font-size: 80px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif    ;
        margin-bottom: 10px;
    }
    .intro {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .button-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 200px;
        gap: 5%;
    }
    .viewbutton a{
        padding: 10px;
        border: 2px solid #3f3b3b;
        border-radius: 4%;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.579);
    }
    .img{
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 1%;
        border-top-right-radius: 30%;
        border-top-left-radius: 1%;
    }
    .main-library{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section {
        margin: 60px;
    }
    .section h2{
        text-align: center;
        font-size: 30px;
    }
    .proj-library{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .card {
        background: white;
        text-align: center;
        padding: 150px 150px;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.579);
        border-bottom: 5px solid #00cc99;
        transition: transform 0.2s;
    }
    .card:hover {
        transform: translateY(-5px);
    }
    .act-library{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .quiz-library{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    footer {
        text-align: center;
        padding: 15px;
        background: linear-gradient(to right, #0066cc, #00cc99);
        color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
@media (max-width: 768px) {
    .heads {
        display: grid;
        grid-template-columns: auto auto;
    }
    .heads_name{
        font-size: 20px;
    }
    .tails {
        font-size: 13px;
        display: grid;
        grid-template-columns: auto auto auto;
        position: relative;
        right: 39%;
        margin-top: 10px;
    }
    nav a {
        margin: 10px;
    }
    .main {
        grid-template-columns: auto;
        gap: 5px;
        margin: 30px;
    }
    .main-container1{
        position: relative;
        left: 0;
        text-align: center;
    }
    .img{
        max-width: 270px;
    }
    .main-container2 {
        text-align: center;
        left: 0;
    }
    .welcome {
        font-size: 28px;
    }
    .line{
        font-size: xx-small;
    }
    .intro {
        font-size: 14px;
    }
    .button-container {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 60px;
        gap: 10px;
    }
    .card {
        padding: 130px 100px;
    }
    .section{
        margin: 10px;
    }
}